<!--File created by Lily Joh-->
{% extends 'tasks/base.html' %}

{% block content %}
<div class="center-column">
    {% if user.is_authenticated%}
      <a href="/createList">Create a wishlist</a>
       <br>
        <a href="/viewLists">My wishlists</a>
         <!-- <br>
          <a href="/viewUsers">View users</a> -->
    {% else%}
    <h1>Welcome to Jiminy Wishlist</h1>
    <h2>Register new account to create a Wishlist!</h2>
    {% endif %}


    <!-- <br>
    <img src="media/profile_pics/jiminy.png"> -->
</div>
{% endblock content %}
